@import "tailwindcss";

:root {
    color-scheme: dark;

    --header-h: 64px;
    --footer-h: 64px;
}

html {
    scroll-padding-top: var(--header-h);
    scroll-padding-bottom: var(--footer-h);
}

#content {
    padding-top: calc(var(--header-h) - 48px);
    padding-bottom: calc(var(--footer-h) + 12px);
}

.tile {
    scroll-margin-top: var(--header-h);
    scroll-margin-bottom: var(--footer-h);
}

body {
    @apply bg-neutral-900 text-neutral-100;
}